.window {
    -fx-background-color: #2F2F2F;
}
.module-list {
    -fx-background-color: #373d3f;
}
.module-list .list-cell {
    -fx-background-color: #373d3f;
}
.component-list {
    -fx-background-color: #2F2F2F;
}
.component-list .list-cell {
    -fx-background-color: #2F2F2F;
}
.component-list .list-cell:selected {
    -fx-background-color: #2d74a9;
}
.component-list .list-cell:filled:hover {
    -fx-background-color: #474d50;
}