/* Globals */
.window {
    -fx-border-color: #4f4f4f;
}
Text {
    -fx-fill: lightgray;
}

.label {
    -fx-text-fill: lightgray;
}

.content {
    -fx-background-color: #2f2f2f;
}

.control {
    -fx-background-color: #373d3f;
}

/* Title Bar */
.title-bar {
    -fx-background-color: #373d3f;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #5b5b5b;
    -fx-padding: 0 0 2 10;
}

.title-bar .title-button {
    -fx-background-color: #373d3f;
    -fx-min-width: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 30px;
    -fx-min-height: 30px;
    -fx-border-radius: 0;
}

.title-bar .title-button:hover {
    -fx-background-color: #575d60;
}

.title-bar .title-button:pressed {
    -fx-background-color: #979c9d;
}

.title-bar .title-close-button:hover {
    -fx-background-color: #ff0000;
}

.title-bar .title-close-button:pressed {
    -fx-background-color: #ff6e6e;
}


/* Default Dialogs */
.dialog-pane {
    -fx-background-color: #3f3f3f;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0)
}

.dialog-pane .header-panel {
    -fx-background-color: #3f3f3f;
}


.dialog-pane .label.content {
    -fx-background-color: #3f3f3f;
}

.dialog-pane > .button-bar {
    -fx-background-color: #3f3f3f;
}
/* Control Styling */

.button {
    -fx-text-fill: lightgray;
    -fx-background-color: #474d4f;
}
.button:hover {
    -fx-background-color: #575d60;
}

.button:pressed {
    -fx-background-color: #979c9d;
}

.scroll-pane {
    -fx-background-color: #2f2f2f;
}

.split-pane {
    -fx-background-color: #2f2f2f;
}

.list-view {
    -fx-padding: 0;
}

.list-view .list-cell {
    -fx-background-color: #2F2F2F;
}

.list-view .list-cell:selected {
    -fx-background-color: #3d84b9;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #575d60;
}

.text-field {
    -fx-background-color: #2f2f2f;
    -fx-border-color: #373d3f;
    -fx-prompt-text-fill: lightgray;
    -fx-text-fill: lightgray;
}

.text-field:hover {
    -fx-background-color: #373d3f;
}

.control .text-field:hover {
    -fx-background-color: #32393A;
}

.split-pane {
    -fx-box-border: transparent;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
}

.titled-pane {
    -fx-box-border: transparent;
    -fx-padding: 0;
}

.titled-pane > .title {
    -fx-background-color: #373d3f;
}

.titled-pane > .title > .text {
    -fx-fill: lightgray;
}

.combo-box-base {
    -fx-fill: lightgray;
    -fx-background-color: #2f2f2f;
    -fx-border-color: #373d3f;
    -fx-padding: 5 2 5 2;
}

.combo-box-base .text-input {
    -fx-border-style: hidden hidden hidden hidden;
}

.combo-box-base > .arrow-button {
    -fx-background-color: #2f2f2f;
}

.combo-box-base .list-cell {
    -fx-text-fill: lightgray
}
.combo-box-popup > .list-view > .list-cell:disabled {
    -fx-background-color: #2f2f2f;
}

.combo-box-popup > .list-view > .list-cell:disabled:hover {
    -fx-background-color: #2f2f2f;
}

.combo-box-popup > .list-view > .list-cell:disabled:pressed {
    -fx-background-color: #2f2f2f;
}

.combo-box-popup .list-view {
    -fx-background-color: #2f2f2f;
}

.combo-box-base:hover {
    -fx-background-color: #373d3f;
}

.combo-box-base:hover .text-input {
    -fx-background-color: #373d3f;
    -fx-border-style: hidden hidden hidden hidden;
}

.combo-box-base:hover .arrow-button {
    -fx-background-color: #373d3f;
}

.radio-button {
    -fx-fill: lightgray;
    -fx-text-fill: lightgray;
}
.radio-button .radio {
    -fx-background-color: #2f2f2f;
    -fx-border-color: #474d4f;
    -fx-border-radius: 15px;
}
.radio-button:selected .radio .dot {
    -fx-background-color: lightgray;
    -fx-background-insets: 0;
}


