.toolbar_block {
    -fx-padding: 5 5 5 5;
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-color: lightgray;
}
.toolbar_block_right {
    -fx-padding: 5 5 5 5;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-color: lightgray;
}
.button {
    -fx-background-color: #373d3f;
}
.button:hover {
    -fx-background-color: #575d60;
}
.button:pressed {
    -fx-background-color: #979c9d;
}
.component_cell_pane {
    -fx-border-color: lightgray;
}

.ikonli-font-icon:disabled {
    -fx-fill: darkgray;
}
.graph-cell Text {
    -fx-fill: black;
}